.game-details {
  .game-info {
    // margin-top: 1rem;
  }

  .details {
    p {
      font-size: 1.4rem;
    }
  }


  img {
    object-fit: contain;
    width: rem(350px);
    // margin-top: 1rem;
  }


  font-size: 1.2rem;

}