.game-details {
  .game-info {
    // margin-top: 1rem;
    img {
      object-fit: contain;
      width: 150px;
      // margin-top: 1rem;
    }
  }

  .details {
    p {
      font-size: 1.4rem;
    }
  }




  font-size: 1.2rem;

}