.user-page {
    .user-details {
        display: grid;
        grid-template-columns: 60% 40%;
        margin-block-start: 1em;

    }

    li {
        list-style: none;
    }
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .user-page {

        .order-list {

            // display: grid;
            // grid-template-columns: 1fr;
            // grid-template-rows: auto;
            gap: 6px;
            justify-content: space-between;
            max-width: 100%;

            .list-card {
                display: flex;
                flex-direction: column;
                border-radius: 7px;
                max-height: 100%;

                img {
                    padding: 0em;
                    max-width: 100%;
                }
            }

            .game-info {
                width: 100%;
            }
        }
    }
}