.order-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 12px;
    justify-content: space-between;
    margin-block-end: 1em;

    .list-card {
        display: flex;
        border-radius: 7px;
        max-height: 115px;
        background-color: $backColor2;

        img {
            padding: 0.5em;
            border-radius: 7px;
            max-width: 200px;
            object-fit: contain;
        }
    }


    .game-info {
        width: 80%;
        padding: 0.5em;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .info {
            display: flex;
            flex-direction: column;
        }

        .el-dropdown-link {
            color: white;
            cursor: pointer;

        }

        h3 {
            font-size: 20px;
            margin-block-start: 1em;
        }

        p {
            margin-block-end: 0;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .user-page {
        .order-list {
            gap: 6px;

            .list-card {
                max-height: 100%;

                img {
                    padding: 0em;
                    border-radius: 7px;
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                }
            }

        }
        .game-info {
    
            .info {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }
    
            .el-dropdown-link {
    
            }
    
            h3 {
                font-size: 18px;
                margin-block-start: 0em;
            }
    
            p {
                font-size: 14px;
            }
        }
    }
}