.btn-basic {
  background: $cta;
  font-weight: bold;
  color: #ffffff;
  height: 32px;
  padding: 8px 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-basic:hover {
  background: $cta2;
}

.btns-container {
  display: flex;
  align-items: center;
}

.btn-basic-2 {
  min-width: 60px;
  border: 1px solid #7a8288;
  font-weight: bold;
  color: #7a8288;
  height: 32px;
  padding: 8px 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-basic-2:hover {
  transition: 0.2s;
  background: $cta;
  color: $backColor
}

.btn-basic-3 {
  min-width: 60px;
  border: none;
  background-color: $backColor2;
  font-weight: bold;
  color: #7a8288;
  height: 32px;
  padding: 8px 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-basic-3:hover {
  transition: 0.2s;
  background: $cta;
  color: $backColor
}

.login-btn {
  min-width: 60px;
  border: 1px solid $cta;
  // font-weight: bold;
  // color: #7a8288;
  // height: 32px;
  padding: 8px 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn:hover {
  transition: 0.2s;
  background: $cta;
  color: $backColor
}
