.game-app{
    display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr;
    justify-content: center;
    // display: flex;
    // flex-direction: column;
}

.main-app{
    max-height: 100vh;
    min-height: 100vh;
    // display: flex;
    // flex-direction: column;
}


.container {
    width: 1250px;
    // background-color: red;
    // padding-inline-start: 0.5rem;
    // padding-inline-end: 0.5rem;

    @include from-mini-layout {
        // padding-inline-start: 1rem;
        // padding-inline-end: 1rem;
    }

    @include from-mobile-layout {
        // padding-inline-start: 40px;
        // padding-inline-end: 40px;
   }
}