.app-footer {
    background-color: $footer-backColor;
    width: 100%;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer-contain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-block-end: 1em;


        .logo {
            display: flex;
            justify-content: center;
        }

        .footer-links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            color: $clr4;
            font-size: 14px;

            ul {
                padding-inline-end: 1em;
                padding-inline-start: 0;
                margin-block-start: 0;
                margin-block-start: 1em;

            }
        }
    }

    .rights-wrapper {
        display: flex;
        flex-direction: column;

        hr {
            width: 100%;
            margin-inline-start: 0;
            margin-inline-end: 0;
            border: 0;
            height: 1px;
            // background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(50, 50, 50, 0.75), rgba(0, 0, 0, 0));
            background-image: linear-gradient(to right, $backColor2, $backColor, $backColor2);
        }

        .rights-icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;

            .icon-links {
                a:first-child {
                    margin-inline-end: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .app-footer {

        .footer-contain {

            margin-block-end: 0em;
        }
        hr {
            margin-block-start: 0;
            margin-block-end: 0;
        }

    }


}