.game-list {

    margin-block-end: 2em;

    .navigate-btn {
        display: flex;
        margin-block-end: 1em;
        align-items: center;
        justify-content: center;
        text-align: center;

        .page-number {
            margin-inline-start: 1em;
            margin-inline-end: 1em;

            button {
                z-index: 0;
                width: 20px;
                text-align: center;
                border-radius: 50px;
                padding: 5px;

            }

            button:hover {
                z-index: 200;
                transition: 0.2s;
                background: $cta;
                color: $backColor
            }
        }


        .current-page {
            transition: 0.2s;
            background-color: $cta2;
            color: $backColor
        }
    }

    h4 {
        margin-inline-start: 1em;
        margin-inline-end: 1em;
    }

    .sorted-games {
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 260px));
            grid-template-rows: auto;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 1140px) {
    .game-list {
        .sorted-games {

            ul {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .game-list {
        .sorted-games {

            ul {
                grid-template-columns: 1fr 1fr;
                gap: 0px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .game-list {
        .navigate-btn {

            // max-width: 100%;
            .page-number {}
        }

        .sorted-games {

            ul {
                display: flex;
                flex-direction: column;
                gap: 2px;
            }
        }
    }
}