.game-filter {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // display: flex;
    align-items: center;
    flex-wrap: wrap;
    // gap: 30px;
    margin-block-end: 2em;
    justify-content: space-between;



    // select {
    //     color: $fontColor1;
    //     padding: 5px 35px 5px 5px;
    //     font-size: 16px;
    //     border: 0.5px solid $cta;
    //     border-radius: 5px;
    //     // height: 34px;
    //     appearance: none;
    //     background-color: $backColor;
    //     // background: url(https://stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE;
    // }

    // .inputs {
    //     input {
    //         color: $fontColor1;
    //         background-color: $backColor;
    //         border: 0.5px solid $cta;
    //         box-shadow: none;
    //         border-radius: 5px;
    //         width: 100%;
    //         padding: 5px 35px 5px 5px;


    //         &:hover {
    //             box-shadow: none;
    //         }

    //         &:focus {
    //             outline: none;
    //             box-shadow: none;
    //         }
    //     }
    // }

    label {
        color: #767e84;
    }


    /* Target Internet Explorer 9 to undo the custom arrow */
    @media screen and (min-width:0\0) {
        select {
            background: none\9;
            padding: 5px\9;
        }
    }

    // background-color: #3a3f44;
    border: none;
    box-shadow: none;
    // border-bottom: 1px solid $clr4;
    border-radius: 5px;

    // width: 50px;

    &:hover {
        box-shadow: none;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }


}

// input {
//     color: $fontColor1;
//     background-color: $backColor;
//     border: 0.5px solid $cta;
//     border: none;
//     box-shadow: none;
//     border-radius: 5px;
//     width: 100%;
//     padding: 5px 35px 5px 5px;


//     &:hover {
//         box-shadow: none;
//     }

//     &:focus {
//         outline: none;
//         box-shadow: none;
//     }
// }


.el-select-dropdown__wrap {
    background-color: $footer-backColor;
    // border: 0.5px solid $cta;
    
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background: $backColor2;
    color: $cta;
}

.el-select__popper.el-popper {
    border: none;
}

.el-input__wrapper {
    margin-inline-end: 2em;
    background-color: $backColor;
}

.el-select .el-input.is-focus .el-input__wrapper {
    //    background-color: red;
    //    color: red;
}

// .el-select {
//     //    background-color: red;
//     //    color: red;

// }

// .el-select-dropdown__wrap{
//     background-color: $backColor;
//     // border: 0.5px solid $cta;
// }


// .el-input{
//     // border: 0.5px solid $cta;
// }
// .el-select {

//     .el-input__wrapper {
//         background-color: $backColor;
//     }

// }

// .el-select-dropdown__wrap {
//     background-color: $backColor2;
//     // border: 0.5px solid $cta;

//     //    color: green;

// }

// .el-option {
//     //    background-color: red;
//     //    color: red;

// }