.game-list {
    .next-btn {
        display: flex;
        margin-block-end: 1em;
        align-items: center;
        justify-content: space-between;

        .page-number{
            display: flex;
        }
    }

    h4 {
        margin-inline-start: 1em;
        margin-inline-end: 1em;
    }

    ul {
        padding-inline-start: 0;
        :hover {
            transform: scale(1.01);
            transition: 0.5s;
        }

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 290px));
        grid-template-rows: auto;
        gap: 22px;
        justify-content: space-between;

        .btns-container {
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}