.game-filter {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    flex-wrap: wrap;
    margin-block-end: 2em;
    justify-content: space-between;

    label {
        color: #767e84;
    }

}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .game-filter {
        display: grid;
        grid-template-columns: 115px 115px 115px;
        margin-block-end: 1em;

    }    
}