.game-hero-list {
    margin-block-end: 3em;

    .game-hero-preview:not(:last-child) {
        margin-inline-end: 0.5em;
    }


    img {
        height: 100%;
    }

    h1 {
        line-height: 46px;
        font-size: 32px;
    }

    h4 {
        font-size: 18px;
    }

    span {
        font-weight: 700;
    }

    ul {
        margin-block-start: 2em;

        :hover {
            transform: scale(1.01);
            transition: 0.5s;
        }

        display: flex;
        justify-content: space-between;

        .btns-container {
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (max-width: 1140px) {
    img {
        width: 100%;
        height: 100%;
    }

}


@media screen and (max-width: 990px) {
}


@media screen and (max-width: 767px) {
    .game-hero-list {
        ul {
            margin-block-start: 1em;
        }

    }
}

@media screen and (max-width: 575px) {
    .game-hero-list {
        display: flex;
        flex-direction: column;
        margin-block-end: 0em;
        .game-hero-preview {
            margin-block-end: 0.5em;
        }

        .game-hero-preview:not(:last-child) {
            margin-inline-end: 0em;
        }

        .home-hero {
            h1 {
                font-size: 20px;
            }

            a {
                font-size: 14px;
            }

            img {
                width: 100%;
                height: 200px;
            }

            ul {
                margin-block-start: 0.5em;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}