.home-list {

    h2 {
        font-size: 28px;
        text-shadow: 1px 1px 1px $backColor;
        color: #aaaaaa;
        margin-block-end: 0.5em;
    }


    ul {
        :hover {
            transform: scale(1.01);
            transition: 0.5s;
        }

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 12px;
        justify-content: space-between;

        .btns-container {
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 767px) {
    .game-preview {
        max-width: 295px;
        max-height: 285px;
        padding-block-end: 1em;
    }
}

@media screen and (max-width: 575px) {
    .home-list {
        min-width: 100%;
        padding-block-end: 0em;

        ul {
            :hover {
                transform: scale(1.01);
                transition: 0.5s;
            }

            display: grid;
            gap: 6px;
        }

    }
}