.alert {
    position: fixed;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 199;

    background-color: $fontColor1;
    color: $footer-backColor;
    padding: 0.7em;
    max-height: 20px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    border-radius: 5px;
    
    &.alert-success {
        background-color: $backColor3;
        color: $cta;
        border: 0.5px solid $cta;
        transition: 1s;
    }
    
    &.alert-error {
        background-color: $backColor2;
        color: $clr2;
        border: 0.5px solid $clr2;
        transition: 1s;
    }
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .alert {
        max-height: 155px;
        top: 16%;
        left: 50%;
    
    }
}