.alert {
    position: fixed;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

    background-color: $fontColor1;
    color: $footer-backColor;
    padding: 0.7em;
    height: 20px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    border-radius: 5px;

    &.alert-success {
        background-color: $cta;
        transition: 1s;
    }

    &.alert-error {
        background-color: $clr2;
        transition: 1s;
    }
}