.game-details-play {
    display: flex;
    flex-direction: column;
    max-height: 350px;

    position: sticky;
    top: 10vh;
    z-index: 1;


    img {
        border-radius: 7px;
    }

    .play-now-btn {
        display: grid;
        grid-template-columns: 30% 1fr;
        margin-block-start: 1em;

        a{
            height: 100%;
        }

        button:first-child {
            margin-inline-end: 0.2em;
            cursor: default;
        }
    }

    .play-rate {
        background-color: $backColor2;
        width: 100%;
        min-height: 100px;
        margin-block-start: 1em;
        border-radius: 7px;
    }

}

@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 990px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    .game-details-play {
        margin-block-end: 1em;
        position: relative;
        top: 0vh;
        z-index: 0;
    
    
        img {
            border-radius: 7px;
            object-fit: contain;
        }
    }
    
}