.game-details-play {
    display: flex;
    flex-direction: column;
    max-height: 350px;

    position: sticky;
    top: 10vh;
    z-index: 1;


    img {
        border-radius: 7px;
    }

    .play-now-btn {
        display: grid;
        grid-template-columns: 30% 1fr;
        margin-block-start: 1em;

        button:first-child {
            margin-inline-end: 0.2em;
        }
    }

    .play-rate {
        background-color: $backColor2;
        width: 100%;
        min-height: 100px;
        margin-block-start: 1em;
        border-radius: 7px;
    }

}